.dialog {
  overflow-y: auto;
  max-height: 100%;
  box-sizing: border-box;
}
.dialogHeader {
  margin: 6% 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &ImageWrapper {
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  span {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}
.dialogBody {
  margin: 0 12px;
  p {
    margin: 1em 8px;
    line-height: 1.5;
  }
  code {
    background: inherit;
  }
}

.error {
  height: auto;
  padding: 48px;
}

.loading {
  text-align: center;
  display: block;
  margin: 24px 0;
}

@media screen and (max-width: 600px) {
  .dialogBody {
    p {
      margin: 1em 4px;
      line-height: 1.35;
    }
  }
}
