@import '~index.scss';

.top-skills {
    ol {
        list-style-type: none;
        padding: 0 12px;
    }

    li {
        margin: 12px 0;
    }

    .percentage-bar {
        height: 5px;
        background: rgba(0, 0, 0, 0.1);
        margin-top: 4px;

        &-fill {
            background: $blue-color;
            background: var(--blue-color);
            height: 100%;
        }
    }
}
