.interests {
    ol {
        list-style-type: none;
        padding: 0 12px;
    }
    li {
        font-size: 1.1rem;
        line-height: 1.8;
        &:before {
            content: "\2014\a0";
            color: var(--blue-color);
            margin-right: 4px;
        }
    }
}
