.app-react-flow {
  &.react-flow {
    overflow: visible;
  }

  .react-flow__edge {
    text {
      font-weight: lighter;
      letter-spacing: 2px;
      stroke: var(--font-color-on-secondary-dim);
    }

    .react-flow__edge-textbg {
      fill: var(--secondary-info-background);
    }

    &.built-with {
      path,
      text {
        stroke: var(--stack-edge-built-with);
      }
    }
  }
}
