.education {
  ol {
    list-style-type: none;
    margin: 0 12px;
    padding: 0;
  }

  li {
    margin: 16px 0;
    display: flex;
    align-items: center;
  }

  img {
    height: 64px;
  }

  .img-wrapper {
    min-width: 120px;
    display: flex;
    justify-content: center;
  }

  h4,
  span {
    display: block;
    margin: 8px 0;
  }

  @media print {
    li {
      margin: 8px 0;
    }

    h4,
    span {
      margin: 2px 0;
    }
  }
}
