.education {
    ol {
        list-style-type: none;
        margin: 0 12px;
        padding: 0;
    }

    li {
        margin: 16px 0;
    }

    h4,
    span {
        display: block;
        margin: 4px 0;
    }
}
