@import '~index.scss';

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 40vh;
}

.root {
  padding: 1em 0 0.1px;
  color: var(--font-color-on-secondary);
  background-color: var(--secondary-info-background);
  flex: 1.2;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 18px 0;
  }
}

.inner {
  width: 640px;

  section {
    margin: 12px 36px 18px 84px;

    h3 {
      display: flex;
      align-items: center;
      margin: 0 0 0 -48px;
      i {
        @include icon;
        color: var(--secondary-info-section-icon-color);
        background: var(--secondary-info-section-icon-background);
      }
      span {
        text-transform: uppercase;
        font-weight: 300;
      }
    }
    h6 {
      font-weight: 400;
      margin: 0 0 18px;
      font-size: 0.9rem;
    }
  }
}

.education {
  li {
    display: flex;
    align-items: center;
    h4 {
      margin: 4px 0;
    }
    h5 {
      margin: 4px 0;
      font-size: 90%;
      font-weight: 500;
    }
  }
}

.workExperience {
  h4 {
    display: block;
    margin: 4px 0;
  }
  h5 {
    display: block;
    margin: 4px 0 4px -8px;
    font-size: 90%;
    font-weight: 400;
    color: var(--font-color-on-secondary-dim);
    display: inline-flex;
    align-items: center;
    i {
      margin: 0 8px;
    }
    span {
      display: inline-flex;
      align-items: center;
    }
    img {
      width: 18px;
      margin: 0 8px;
    }
  }
  p {
    margin: 8px 0 24px;
  }
}

.imgWrapper {
  display: flex;
  justify-content: center;
  margin-right: 18px;

  img {
    height: 52px;
  }
}

.websiteStack h6 {
  color: var(--font-color-on-secondary-dim);
}
.recentProjects h6 {
  color: var(--font-color-on-secondary-dim);
}

.more {
  display: none;
  pre {
    font-family: inherit;
    margin: 12px 36px 18px 84px;
    white-space: pre-wrap;

    a {
      color: var(--link-color-on-secondary-background);
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .inner {
    width: auto;
  }

  .imgWrapper {
    img {
      height: 32px;
    }
  }
}

@media screen and (max-width: 600px) {
  .inner {
    section {
      margin: 12px 18px 18px 60px;
    }
  }

  .imgWrapper {
    img {
      height: 32px;
    }
  }
}
@media screen and (max-width: 600px) {
  .root {
    display: block;
    margin: 0;
    padding-bottom: 64px;
  }
}

@media print {
  .list {
    li {
      margin: 4px 0;
    }
  }
  .inner section {
    &:first-child {
      margin: 0 36px 18px 84px;
    }
  }
  .workExperience {
    p {
      margin: 8px 0 12px;
      font-size: 0.9rem;
    }
  }
  .noPrint {
    display: none;
  }

  .more {
    display: initial;
  }
}

@media print {
  .workExperience {
    h4 {
      font-size: 110%;
    }
  }
  .websiteStack {
    display: none;
  }
}
