.built-with {
    .grid {
        margin: 12px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > div {
            height: 128px;
            display: flex;
            flex-direction: column;
            margin: 0;
            justify-content: space-around;
            background: #efefef;
            align-items: center;
            border-radius: 15px;
            padding: 16px 0;
            margin: 8px;
            flex: 0 0 calc(33% - 16px);
        }
    }

    @media screen and (max-width: 600px) {
        .grid>div {
            flex: 0 0 calc(50% - 16px);
        }
    }
}
