.work-experience {
    --date-width: 86px;
    ol {
        list-style-type: none;
        margin: 0 20px;
        padding: 0;
    }

    li {
        margin: 16px 0;
        display: flex;
        align-items: center;
        position: relative;
        height: 42px;
    }

    .date {
        color: var(--blue-color);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        min-width: var(--date-width);
        font-size: 0.7rem;

        .start,
        .end {
            display: flex;
            flex-direction: column;
            > span:not(:first-child) {
                margin: 0;
            }   
        }

        .dash {
            height: 1px;
            min-width: 6px;
            margin: 0 2px;
            background: var(--blue-color);
        }
    }

    .circle {
        min-height: 8px;
        min-width: 8px;
        border-radius: 24px;
        background: transparent;
        border: 2px solid var(--blue-color);
        margin: 0 8px;
    }

    .line {
        position: absolute;
        width: 0px;
        border-left: 2px solid var(--blue-color);
        height: calc(100% + 6px);
        left: calc(var(--date-width) + 13px);
        &.down {
            top: calc(50% + 6px);
        }

        &.up {
            bottom: calc(50% + 6px);
        }

        &.dotted {
            height: 50%;
            border-left-style: dotted;
        }
    }

    h4 {
        font-size: 0.9rem;
        display: block;
        margin: 4px 0;
    }

    >span {
        font-size: 0.8rem;
    }

    @media screen and (max-width: 600px) {
        li {
            height: 64px;
        }
    }
}
