@import '~index.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  color: $color-on-primary;
  color: var(--color-on-primary);

  .column-wrapper {
    width: 100%;
    max-width: 720px;
    position: relative;
    section {
      padding: 12px 0;
    }

    h1,
    h2,
    h3 {
      text-transform: uppercase;
      margin: 0 12px;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  .title {
    text-align: center;
  }

  .links {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    margin: 0 12px;

    .link {
      i {
        margin-right: 4px;
      }

      .print {
        display: none;
      }
    }
  }

  .about p {
    margin: 1em 12px 0;
  }

  .ref-to-website {
    font-size: 0.9rem;
    margin: 0 12px;
    display: none;
    code {
      font-size: 120%;
      color: $link-color;
      color: var(--link-color, $link-color);
    }
  }

  @media screen and (max-width: 600px) {
    .links {
      flex-direction: column;
      align-items: center;

      .link {
        margin-bottom: 16px;
      }
    }
  }

  @media print {
    .links .link a {
      color: inherit;
      .print {
        display: initial;
      }
      .no-print {
        display: none;
      }
    }
    .column-wrapper {
      section {
        padding: 10px 0;
      }
    }
    .about p {
      font-size: 85%;
      margin: 0.5em 12px 0;
    }

    .ts-int-wrapper {
      display: flex;
      section {
        flex: 1;
      }
    }

    .ref-to-website:not(.no-need) {
      display: initial;
    }

    .print-copy-button {
      display: none;
    }
  }
}
