@import '~index.scss';

.root {
  display: flex;
  margin: 0 auto;
}

.scrollToTopButton {
  position: fixed;
  bottom: 18px;
  right: 18px;
  height: 48px;
  width: 48px;
  border-radius: 10000px;
  border: none;
  background: var(--scroll-to-top-button-background);
  color: var(--scroll-to-top-button-color);
  outline: none;
  cursor: pointer;
  z-index: 5;
}

@media screen and (max-width: 600px) {
  .root {
    display: block;
    margin: 0;
  }
}

@media print {
  .scrollToTopButton {
    display: none;
  }
}
