.home {
    header {
        background: #0c2230;
        color: white;
        letter-spacing: 2px;
        padding: 5em;

        .header-inner {
            max-width: 1280px;
            margin: 0 auto;
            h1 {
                font-family: "Caveat", cursive;
                font-size: 10rem;
                margin-bottom: 0;
            }
            h2,
            h3 {
                margin: 0;
            }
            h3 {
                font-weight: lighter;
            }
        }
    }
}
