.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 24px 0;
    color: var(--color-on-primary);
    font-family: "Ubuntu", sans-serif;

    .column-wrapper {
        display: flex;
        width: 100%;
        max-width: 1280px;
        position: relative;
        box-shadow: 0 10px 6px -6px #777;
        border-radius: 5px;

        .column {
            // padding-top: 129.4%;
            background-color: #e1e2e3;
            flex: 1;

            &:not(:last-child) {
                border-right: 1px solid #c0c0c0;
            }

            section {
                padding: 12px 0;
            }

            h1,
            h2,
            h3 {
                text-transform: uppercase;
                margin: 0 12px;
            }

            h1 {
                font-size: 2.5rem;
            }
        }
    }

    .education {
        ol {
            list-style-type: none;
            margin: 0 12px;
            padding: 0;
        }

        li {
            margin: 16px 0;
        }

        h4, span {
            display: block;
            margin: 4px 0;
        }
    }
}
