@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Ubuntu&display=swap');

html {
    background-color: beige;
    --color-primary: #e1e2e3;
    --color-on-primary: #424953;
    --link-color: #005cd2;
    --link-color--active: #0048a7;
}

a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
        border-bottom: 1px dotted;
    }
    &:active {
        color: var(--link-color--active);
    }
}

body {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import url("./button.scss");
