@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@100;200;300;400;500;600&family=PT+Serif&display=swap');

html {
  color-adjust: exact;
  --background: #3d484e;
  --background-alt: #283136;
  --font-color-on-background: white;
  --contact-info-icon-background: var(--font-color-on-background);
  --contact-info-icon-color: var(--background-alt);
  --link-color-on-background: #add8e6;
  --link-color-on-secondary-background: #add8e6;
  --secondary-info-background: white;
  --secondary-info-background-alt: #ebebeb;
  --link-color-on-secondary-background: #22a3ce;
  --font-color-on-secondary: #283136;
  --font-color-on-secondary-dim: #686969;
  --progress-bar-fill: white;
  --secondary-info-section-icon-background: var(--background-alt);
  --secondary-info-section-icon-color: var(--font-color-on-background);
  --scroll-to-top-button-color: var(--secondary-info-background);
  --scroll-to-top-button-background: var(--font-color-on-secondary);
  --stack-edge-built-with: #45c4ee;
  --stack-item-link-background: rgba(0, 0, 0, 0.075);
  --stack-item-link-background-dark: rgba(255, 255, 255, 0.1);
  --stack-item-link-color: #22a3ce;
  --stack-item-link-color-dark: #add8e6;

  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background: var(--background-alt);
  color: var(--font-color-on-background);

  @media (prefers-color-scheme: dark) {
    --secondary-info-background: #242c30;
    --secondary-info-background-alt: var(--background);
    --link-color-on-secondary-background: #add8e6;
    --font-color-on-secondary: #fff;
    --font-color-on-secondary-dim: #aaa;
    --secondary-info-section-icon-background: var(--background);
  }

  @media print {
    --background: #efefef;
    --background-alt: #ddd;
    --font-color-on-background: #283136;
    --link-color-on-background: #283136;
    --progress-bar-fill: #283136;
    background: white;
  }
}

@mixin icon {
  border-radius: 10000px;
  padding: 10px;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}

code {
  border: 1px solid #888;
  background-color: darken(white, 15%);
  border-radius: 5px;
  padding: 1px 6px;
}

@media (prefers-color-scheme: dark) {
  code {
    border: 1px solid #666;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    padding: 1px 6px;
  }
}
