@import '~index.scss';
.root {
  background-color: var(--color-primary-dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 36px;
}

.dummyImageBlock {
  margin-top: 100%;
}

.image {
  position: relative;
  display: flex;
  margin: 36px;
}

.imageInner {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10000px;
}

.name {
  font-family: 'PT Serif', serif;
  text-align: center;
  margin: 0 36px;
}

.title {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 36px;
}

@media screen and (max-width: 600px) {
  .root {
    display: block;
  }

  .image {
    margin: 36px 100px;
  }
}

@media print {
  .root {
    background: var(--print-background-dark);
    color: var(--color-primary-dark);
  }
  .image {
    margin: 18px 36px;
  }
  .dummyImageBlock {
    margin-top: 50%;
  }

  .imageInner {
    left: 80px;
    right: 80px;
  }
}
