@import 'index.scss';

.print-copy-button {
  position: fixed;
  top: 12px;
  right: 12px;
  background: none;
  color: $blue-color;
  color: var(--blue-color, $blue-color);
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid $blue-color;
  border: 0.2em solid var(--blue-color, $blue-color);
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.25 cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }

  @media screen and (max-width: 600px) {
    display: none;
  }

  @media print {
    display: none;
  }
}
